@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

:root{
    --sliderBGColor: #20273b;
    --primaryGreenColor: #3dc547;
    --secondaryBlueColor: #3d82c5;
    --whiteColor: #fff;
    --darkTextColor: #848484;
    --grayDarkColor: #e0e0e0;
    --blackTextColor : #000000;
    --redTextColor: #f14532;
}

.container{
    max-width: 1150px;
    margin: auto;
    /* overflow: hidden; */
        
}

.link {
    list-style-type: none;
    text-decoration: none;
}
.product-rating span{
    font-size: 10px;
   }

   .homeHeading{
    color: #424242;
    font-size: 20px;
}

.homePage_product_title{
    font-size: 1rem;
    color: #333;
}
   


/* .active{
    color: red;
} */



